.movie {
	border-bottom: solid 1px #CCC;
	padding: 5px 0;
}

.movie p {
	margin: 4px 0;
}

.movie.hover {
	background: #FAFAFA;
}

.movie .admin {
	display: none;

}

.movie.hover .admin{
	display: inline;
}

